img {   
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);  
}
.container .container-fluid {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);  
}

.header{
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);  
}
a{
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);  
}
.introduction .opportunity-for-improve-section{
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);  
}
.protracted-crisis-section {

    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);  
}

.opportunity-for-improve-section{

    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);  
}
.impact-protracted-crisis-section{

    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);  
}
.container .container-fluid {
   
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);  
}
.text-black-50{
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);  
}
.card-body{
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);  
}

.modal-title{
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);  
}
.modal-body{
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);  
}
button{
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);  
}
section{
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);  
}
#mainNav{
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);  
}
#mainNav.navbar-shrink{
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);  
}
.hdxChart{
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);  
}
#funding-tables{
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);  
}
.crises-modal{
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);  
}
.crises-modal .modal-dialog {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);  
  }
  
  .crises-modal .modal-content {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);  
  }  
  .crises-modal .close-modal {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);  
  }
  

