img {
   
    filter: invert(100%) !important;    
}
.header{
    filter: invert(100%) !important;  
}
a{
    filter: invert(100%) !important;  
}
#body{
    background-color: black !important;
    color: white !important;
}
.navbar{
    filter: invert(100%) !important;   
}
.introduction .opportunity-for-improve-section{
    background-color: black !important;
    color: white !important; 
}
.protracted-crisis-section {

    background-color: black !important;
    color: white !important; 
}

.opportunity-for-improve-section{

    background-color: black !important;
    color: white !important; 
}
.impact-protracted-crisis-section{

    background-color: black !important;
    color: white !important; 
}
.big-photo{
    filter: invert(100%) !important;   
}
.container .container-fluid {
   
    filter: invert(100%) !important;   
    background-color: black !important;
    color: white !important; 
}
.text-black-50{
   
    background-color: black !important;
    color: white !important;
}
.card-body{
    background-color: black !important;
    color: white !important; 
}
.modal-content{
    filter: invert(100%) !important;   
}
.modal-title{
    color: #000 !important;
}
section{
   
    background-color: black !important;
    color: white !important;
}

