p {
    color: #fff !important;
    background-color: #000 !important;
}
h1, h2, h3, h4, span, a {
    color: #fff !important;
    background-color: #000 !important;
}
#peopletargeted-trend, #funding-trend, .text-black-50, .percent{
    color: #fff !important;
    background-color: #000 !important;
}
